.button {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #2f2d2e;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
