@import '../../style/themes';

.button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: map-get($button, bg);
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
