.form {
  margin-bottom: 20px;

  &__body {
    display: flex;
    justify-content: stretch;
  }

  &__input {
    flex-grow: 1;
    min-height: 40px;
    margin-right: 5px;
  }

  &__submit {
    width: 50px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #a0c9e3;
    background-color: #a0c9e3;

    &:hover,
    &:focus {
      box-shadow: 1px 1px 5px 5px #ffffff;
      background-color: #64a7d1;
    }

    &:active {
      background-color: #f8de7e;
      border-color: #f8de7e;
      box-shadow: 1px 1px 5px 5px #ffffff;
    }
  }
}
