@import '../../style/themes.scss';

.form {
  &__body {
    display: flex;
    justify-content: stretch;
    align-items: center;
  }

  &__input {
    flex-grow: 1;
    min-height: 40px;
    margin-right: 5px;
  }

  &__submit {
    position: relative;
    width: 50px;
    height: 40px;
    font-size: 0;
    border-radius: 6px;
    border: 1px solid map-get($form, submit);
    background-color: map-get($form, submit);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 17px;
      left: 17px;
      width: 15px;
      height: 2px;
      background-color: map-get($form, submit-pseudo);
    }

    &::before {
      transform: rotate(90deg);
    }

    &::after {
      transform: rotate(180deg);
    }

    &:hover,
    &:focus {
      background-color: map-get($form, submit-hover);
    }

    &:active {
      background-color: map-get($form, submit-active);
      border-color: map-get($form, submit-active);
    }
  }
}
