@import '../../style/themes.scss';

.input {
  padding: 0 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid map-get($text-input, border);

  &:hover {
    border-color: map-get($text-input, hover-border);
  }

  &:focus,
  &:active {
    border-color: map-get($text-input, focus-border);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    font-size: 14px;
    color: map-get($text-input, placeholder-text);
    opacity: 0.7;
  }

  &--error {
    &::placeholder {
      color: map-get($text-input, error-placeholder-text);
      opacity: 1;
      background-color: map-get($text-input, error-placeholder-bg);
    }
  }
}
