@import '../../style/themes.scss';

.header {
  width: 300px;
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: map-get($header, bg);

  &__box {
    padding: 20px 0 5px 0;
    border: 2px dashed map-get($header, border);
    border-radius: 10px;
  }

  &__title {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: map-get($header, title);
    text-align: center;
  }

  &__tagline {
    margin: 5px 0 0 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    color: map-get($header, tagline);
  }
}
